<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

   <!-- Definition for textEditor bean -->
   <bean id="textEditor" class="contructor.TextEditor">
      <constructor-arg ref="spellChecker"/>
      <constructor-arg ref="stringarg"/>
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id="spellChecker" class="contructor.SpellChecker">
   </bean>
   
   <bean id="stringarg" class="contructor.StringArgGenerator" init-method="strInitMethod">
   </bean>

</beans>